/* CSS Document */
.ID_column{
	min-width:25px;
}
.sites_column{
	min-width:39px;
}
.roles_column{
	min-width:43px;
}
.last_login_column{
	min-width: 75px
}
.ip_address_column{
	min-width: 80px;
}
.registered_column{
	min-width: 78px;
}
.username_column{
	min-width: 75px;
}
.ellipsis-overflow{
	max-width:200px;
	display:block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.wpmsar-show-more{
	color:	#21759b;
}